<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CikersApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7D568FB1C2584EC009CBF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D569141C2584EC009CBF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7D5691F1C2584ED009CBF2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
